body {
  background: white;
}
rect {
  fill: #01623f;
  stroke-width: 1px;
  opacity: 0.7;
  stroke: white;
}
rect:hover {
  opacity: 1;
  cursor: pointer;
}
.tooltip {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  background: #004c99;
  padding: 10px;
  border: 1px solid #808080;
  box-shadow: 0 0px 10px black;
}
